.navbar-material .nav-wrapper .brand-logo img {
    height: 40px;
}

/*Posicion del toast materialize*/
#toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 15%;
    left: 80%;
}

nav ul li a {
    color: white;
}

nav ul #salir a:hover {
    background-color: firebrick;
}